 .container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
 }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: inset 0 0 49px rgba(255, 255, 255, 0.54);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #18a44e;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #13aa54;
  }

body {
  background-color: aqua;
  background-repeat: no-repeat;
  background-image: url("../img/large_55560651-2367802379931906-103535568264101888-n-1569489509.jpg");
  background-size: cover;
}

.form {
  position: relative;
  width: 373px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.box_wrapper {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


.form_inp {
  max-width: 160px;
  padding: 10px 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  outline: none;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  border: 2px solid #757575;
  color: #757575;
}


.form_btn {
  padding: 11px 26px;
  border-radius: 3px;
  background-color: blue;
  color: #fff;
  border: 2px solid blue;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: all 0.5s ease;
}

.form_btn:hover {
  border: 2px solid blue;
  background-color: #fff;
  color: blue;
}

.list {
  width: 308px;
  height: 340px;
  margin-top: -400px;
  margin-left: 115px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  color: brown;
  box-shadow: 0px -1px 8px 5px rgb(0 0 0 / 13%);
  border-bottom: none;
  padding-left: 64px;
}

.list li {
  width: 270px;
  border-bottom: 2px solid rgb(0, 255, 94);
  position: relative;
  margin-left: 8px;

}

.list li::before {
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  top: -4px;
  left: -56px;
  background-repeat: no-repeat;
  background-image: url("../img/shopping-cart--v2.gif");
  background-size: 33px 31px;
}

.list li p {
  margin-bottom: 0;
  padding-bottom: 5px;
}


.form_clear {
  width: 370px;
  height: 35px;
  margin-left: 2px;
  margin-top: 359px;
  border: 3px solid rgb(39, 174, 86);
  background-color: rgb(39, 174, 86);
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  color: rgb(255, 255, 255);
  transition: all 0.5s ease;
}
.form_clear:hover {
  border: 3px solid rgb(39, 174, 86);
  color: rgb(39, 174, 86);
  background-color: #fff;
}

.form_img {
  position: absolute;
  top: 48px;
  left: 9px;
  background-color: transparent;
  filter: invert(52%) sepia(4%) saturate(25%) hue-rotate(315deg) brightness(85%) contrast(74%);
}

